table, tr, th, td {
  margin:0;
  padding: 0
}

.tabel {
  width: 100%;
  text-align: center;
  font-size: 14px;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
.tabel td, .tabel th {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding:6px 10px;
}
.add {
  display: flex;
  flex-wrap: wrap;
}
.add div {
  padding: 5px;
  width: 40%;
}
.add div input {
  width: 100%;
  padding:4px 10px;
  box-sizing: border-box;
  font-size: 14px;
}